<!DOCTYPE html>
<html lang="en" dir="ltr" data-scompiler-id="0">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <title>Stroyka Admin - eCommerce Dashboard Template</title>
    <!-- icon -->
    <link rel="icon" type="image/png" href="/media/images/favicon.png" />
    <!-- fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i"
    />
    <!-- css -->
    <link rel="stylesheet" href="/media/vendor/bootstrap/css/bootstrap.ltr.css" />
    <link rel="stylesheet" href="/media/vendor/highlight.js/styles/github.css" />
    <link rel="stylesheet" href="/media/vendor/simplebar/simplebar.min.css" />
    <link rel="stylesheet" href="/media/vendor/quill/quill.snow.css" />
    <link
      rel="stylesheet"
      href="/media/vendor/air-datepicker/css/datepicker.min.css"
    />
    <link rel="stylesheet" href="/media/vendor/select2/css/select2.min.css" />
    <link
      rel="stylesheet"
      href="/media/vendor/datatables/css/dataTables.bootstrap5.min.css"
    />
    <link rel="stylesheet" href="/media/vendor/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="/media/vendor/fullcalendar/main.min.css" />
    <link rel="stylesheet" href="/media/css/dashboard.css" />
    <script
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=UA-97489509-8"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-97489509-8");
    </script>
  </head>
  <body>
    <div>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'login' %}">SignIn</a></li>
        <li><a href="{% url 'signup' %}">SignUp</a></li>
        <li><a href="">{{request.user.username}}</a></li>
      </ul>
    </div>

    {% block content %}
    
    {% endblock content %}

    
  </body>
</html>